.blueBtn { box-sizing: border-box;	padding: 0 1rem;	border: 1px solid #00A9F4;	border-radius: 5px;	background-color: #00A9F4;	color: #FFFFFF;	font-family: "Open Sans";	font-size: 14px;	line-height: 19px;	text-align: center;
  height: 34px;
  line-height: 32px !important;
  &.transparent {
    background: none;
    color: $primary !important;
  }
}

p, body {
  font-weight: 300;
}
h1,h2,h3,h4,h5 {
  color: #212121;
  font-family: "Open Sans";
  line-height: 43px;
}
p,span {
  font-size: 21px;
  line-height: 35px;
  color: #212121;
  font-family: "Open Sans";
}
h1,h2,h4 {
  font-size: 34px;
}
h3 {
  font-size: 27px;
}
.small-p {
  font-size: 17px;
  line-height: 25px;
}
.white {
  color:white;
}

a:hover {
  text-decoration: none;
}
.orange-container {
  background-color:#F99828;
  .form-h2  {
    font-size: 24px;
  }
  @media screen and (min-width: 1200px) {
    .form-h2 {
      font-size:34px;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1240px;
  }
}

.inner-pages-hero {
    height: 266px; opacity: 0.37;background-size:cover;background-repeat: no-repeat;
}
/*--------------------------------------------------------------
# PET SMART NAVIGATION
--------------------------------------------------------------*/
.nav-container {
  p {
    font-size: 18px;
    line-height: 28px;
  }
.nav {
  .nav-link {
    border-top: 7px solid #F3F3F3;
    color: #D4D4D4;
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }
  .nav-link.active {
    border-top:7px solid #F99828;
    color: #F99828;
  }
}
}

/*--------------------------------------------------------------
# Sign Up form
--------------------------------------------------------------*/
#wpcf7-f121-o1 {
  max-width: 100%;
}
.sign-up-container {
  background: #F99828;
  h2 {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }
  p {
    	color: #FFFFFF;
  }
  input[type=email] {
    height: 57px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #E4DFDF;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #C0C0C0;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
  }
  input[type=submit] {
    height: 34px;
    width: 111px;
    border: 1px solid #0081BA;
    border-radius: 5px;
    background-color: #00A9F4;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
}
/*--------------------------------------------------------------
# Customer SUpport FORM
--------------------------------------------------------------*/
#wpcf7-f148-o1 {
  input[type=submit] {
    box-sizing: border-box;
    padding: 0 1rem;
    border: 1px solid #00A9F4;
    border-radius: 5px;
    background-color: #00A9F4;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    height: 34px;
    line-height: 32px !important;
    max-width: 131px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  input[type=email] {
    height: 57px;
    max-width: 581px;
    border: 1px solid #E4DFDF;
    border-radius: 3px;
    background-color: #FFFFFF;
    width: 100%;
  }
  ::placeholder {
    color: #C0C0C0;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# NAVIGATION
--------------------------------------------------------------*/
#wrapper-navbar  {
  background-color: #FFFFFF;	box-shadow: 0 5px 14px 0 rgba(0,0,0,0.29);
  #navbarNavDropdown {
    max-width: 68%;
    margin-top: 30px;
    justify-content: flex-end;
  }
  .navbar-dark .navbar-toggler {
    background-color: #f39731;
  }
   .nav-link {
    color: #404040;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px; margin: 0 6px;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    border-radius: 7px;	background-color: #FFFFFF;	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.29);margin-top: 30px;border:none;
  }
  .dropdown-item {
    	color: #404040;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;	text-align: right;
  }
  .dropdown-toggle::after {
    border: solid black; border-width: 0 2.4px 2.4px 0; display: inline-block; padding: 2.4px; transform: rotate(45deg); -webkit-transform: rotate(45deg);    margin-left: 0.4em;
    vertical-align: 0.1em;
  }
  .other-links {
    position: relative;
    margin-bottom: 3.1rem;
    margin-top: 0.5rem;
    color: #d4d4d4;
    a {
      &.top {
      font-size: 12px;
      font-weight: 200;
      color: #333;
      margin-bottom: 0.7rem;
      display: inline-block;
      }
      &.blueBtn {
        display: block;
        position: absolute;
        width: 155px;
        right: 0;
      }
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
#wrapper-footer {
  background-color: #212121;
    .list-unstyled .list-title{
      color: #FFFFFF;	font-family: "Open Sans";	font-size: 16px;	font-weight: 700;	line-height: 22px;
      display: block;
      margin-bottom: 0.5rem;
    }
      .list-item {
        color: #FFFFFF;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;font-weight: normal;
      }

  .social-icons a {
    margin-left: 5px;
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# HOMEPAGE
--------------------------------------------------------------*/

@media screen and (min-width:992px) {
  .home-container {
    background-image: url(http://samkim.co/rethinksolutions/wp-content/uploads/2019/09/mask.png);background-repeat: no-repeat;background-position: right;background-size: contain;height: 73vh;
  }
}
.hero {
  .hero-h1 {
    color: #404040;
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
    margin-top:50px;
  }
  .hero-p {
    color: #404040;	font-size: 19px;	line-height: 28px;
  }
  .hero-button  {
    margin-bottom:50px;box-sizing: border-box;	height: 34px;	width: 140px;	border: 1px solid #0081BA;	border-radius: 5px;	background-color: #00A9F4;	color: #FFFFFF;	font-family: "Open Sans";	font-size: 14px;	line-height: 19px;	text-align: center;
  }
  @media screen and (min-width: 768px){
  .hero-img {
    margin-top:50px;
    max-width: none;
  }
  .hero-br {
    display: none;
  }
}
  @media screen and (min-width:992px) {
  .hero-img {
    margin-top:114px;
    width: 100%;
  }
  .hero-h1 {
    margin-top:13rem;
    font-size:43px;
    line-height: 51px;
    margin-bottom: 1rem;
  }
  .hero-p {
    	font-size: 21px;
  }
  .hero-br {
    display: block;
  }
}
@media screen and (min-width:1400px) {
  .hero-img {
    width: initial;
  }
}
}
.blue-banner {
  background-image:url(http://samkim.co/rethinksolutions/wp-content/uploads/2019/09/blue-banner.png);background-size:cover;background-repeat: no-repeat;
  .blue-banner-h3 {
    color: #FFFFFF;
    margin-top:47.88px;
    margin-bottom: 40px;
  }
  .banner-title h2 {
    	color: #FFFFFF;
      font-size: 29px;
      font-weight: 800;
      line-height: 56px;
      margin-bottom:0px;
  }
  .banner-title p {
    	color: #FFFFFF;
      font-size: 19px;
      line-height: 26px;
      margin-bottom:31.62px;
      margin-top:-20px;
  }
  @media screen and (min-width: 992px) {
    .banner-title h2 {
      font-size: 34px;
    }
  }
}
.left-right-containers{
  .container {
    margin-top:79.33px;margin-bottom:79.33px;
  }
  .row-left {
    flex-direction: column-reverse;
  }
    .title {
      color: #F99828;
      font-size: 22px;
      line-height: 46px;
    }
    .subtitle {
      color: #404040;
      font-size: 33px;
      line-height: 46px;
      margin-top: -25px;
    }
    .content {
      color: #404040;
      font-size: 21px;
      line-height: 28px;
    }
    .explore-button {
      	width: 187.74px;
    }
    .left-right-br {
      display: none;
    }
    @media screen and (min-width: 1025px) {
      .left-right-br {
        display: block;
      }
    }
    @media screen and (min-width: 768px) {
      .row-left {
        flex-direction: row;
      }
    }
}
.slider {
  .slider-h1 {
    	color: #FFFFFF;
      margin-top: 28.36px;
      margin-bottom: 32.14px;
  }
  .slider-testimonal {
    	color: #FFFFFF;
      font-size: 23px;
      margin-bottom: 30px;
  }
  .author-info {
    	color: #FFFFFF;
      font-size: 18px;
      line-height: 22px;
  }
  .slider-button {
    margin-bottom: 37.57px;
    margin-top:32.93px;
  }
  .carousel-inner {
    margin-bottom: 70px;
  }
  .carousel-control-next, .carousel-control-prev {
    top:auto;
    margin-bottom: 20px;
    height: 54.93px;
    width: 57.93px;
    border-radius: 4px;
    background-color:
    #F99828;opacity: 1;
}
  @media screen and (min-width: 768px) {
    .carousel-control-prev {
      right: 75px; height: 54.93px; width: 57.93px; border-radius: 4px; background-color: #F99828;left:auto;opacity: 1;
    }
    .carousel-control-next {
      right: 0px; height: 54.93px; width: 57.93px; border-radius: 4px; background-color: #F99828;opacity: 1;
    }
    .carousel-control-next, .carousel-control-prev {
      top: 230px;bottom: -100px;
    }
    .carousel-inner {
      margin-bottom:0;
    }
  }
}
.container.logos {
  img {
    filter: grayscale(1);
  }
}
.blog-container {
  max-width:56rem;
    .first {
      height: 476px;		opacity: 0.75;	background-color: #AF0A65;padding: 25px;
    }
    .blog-section-title {
      color: #404040;	font-family: "Open Sans";	font-size: 34px;line-height: 43px;	margin:43px 0;
    }
    .second {
      height: 205px;opacity: 0.78;	background-color: #8AB010;padding: 25px;
    }
    .third-f-holder {
      margin-top:16.75px;
    }
    .third {
      height: 254.5px;	width: 50%;	opacity: 0.79;	background-color: #AF0AFF;margin-right:19.52px;padding: 10px;
    }
    .fourth {
      height: 254.5px;	width: 50%;	opacity: 0.79;	background-color: #FF940A;padding: 10px;
    }
    .second-row {
      margin-top:16.93px;
    }
    .second-row-first-item {
      height: 254.5px;	width: 100%;	opacity: 0.75;	background-color: #354CB1;margin-right:17.38px;padding: 25px;
    }
    .second-row-second-item {
      height: 255px;	width: 100%;	opacity: 0.79;	background-color: #0AE7C8;padding: 25px;
    }
    .post-item {
      position: relative;
    }
    .post-btn {
      height: 33px;	border: 1px solid #0081BA;	border-radius: 5px;	background-color: #00A9F4;
      position: absolute;
      bottom: 1rem;
    }
    .post-heading-big {
      color: #FFFFFF;	font-family: "Open Sans";	font-size: 40px;	font-weight: 600;	line-height: 43px;
    }
    .post-heading-small {
      	color: #FFFFFF;	font-family: "Open Sans";	font-size: 23px;	font-weight: 600;	line-height: 28px;
    }
    p {
      color: #FFFFFF;
      font-size: 18px;
      line-height: 25px;
      margin-top: 1.4rem;
    }
    @media screen and (min-width: 992px) {
      .second-row-first-item {
        width: 70%;
      }
      .second-row-second-item {
        width: 30%;
      }
    }
}

/*--------------------------------------------------------------
# About us Media
--------------------------------------------------------------*/
  .media-first-row {
    padding-top:62px;
    padding-bottom: 62px;
    background-color: #F9F9F9;
    .media-p {
        color: #404040; font-size: 23px;
    }
  }
  .blog-container {
    // margin-top: 55px;margin-bottom: 51px;
    .media-blog-box {
        height: 281px;	width: 100%;	opacity: 0.75;	background-color: #AF0A65;position: relative;padding: 20px;
    }
    .media-news {
      	height: 131px;	width:100%;	opacity: 0.78;	background-color: #8AB010;margin-bottom: 15px;position: relative;padding: 20px;
    }
    .media-releases {
      	height: 136px;	width: 100%;	opacity: 0.79;	background-color: #AF0AFF;position: relative;padding: 20px;
    }
    .media-blog-btn {
      position: absolute;bottom: 20px;left:20px;
    }
    .media-h2  {
    	color: #FFFFFF;	font-size: 28px;	font-weight: bold;	line-height: 35px;
    }
    @media screen and (min-width: 992px) {
      .media-h2 {font-size:40px;}
    }
  }

  /*--------------------------------------------------------------
  # About us Story
  --------------------------------------------------------------*/



  /*--------------------------------------------------------------
  # About us Contact us and cf7
  --------------------------------------------------------------*/

  .contact-us-container {
    .info-span {
      color: #00A9F4;
    }
  }
  .cf7-container {
    padding-top:47px;
    padding-bottom:47px;
    background-color:#F9F9F9;
  }
  #wpcf7-f118-o1 {
      p {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 17px;
      }
      label {
        margin: 0;
        border: 1px solid #ECE7E7;
        border-radius: 3px;
        background-color: #FFFFFF;
        height: 57px;
      }
        textarea{
        max-height: 75px;
        border:none;
      }
      ::placeholder {
        color: #C0C0C0;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 24px;
      }
       .wpcf7-submit {
         height: 33px;
         width: 154.79px;
         border: 1px solid #0081BA;
         border-radius: 5px;
         background-color: #00A9F4;
         	color: #FFFFFF;
          font-family: Roboto;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
       }
      input {
        border:none;
      }
      span.wpcf7-list-item {
        margin:0 !important;
      }
      br {
        display: none;
      }
    }


/*--------------------------------------------------------------
# About us Careers
--------------------------------------------------------------*/
.buttons-container {
  padding-top:70px;
  padding-bottom:76px;
  .blue-button-careers {
    height: 34px;
    width: 181px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #0081BA;
    border-radius: 5px;
    background-color: #00A9F4;
  }
  .yellow-button-careers {
    height: 34px;
    width: 131px;
    border: 1px solid #F99828;
    border-radius: 5px;
    color: #F99828;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}
.careers-container {
  background-color:#F9F9F9;
  padding-top:50px;
  padding-bottom:50px;
  h4 {
    	color: #212121;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 600;
      line-height: 31px;
  }
  p {
      font-size: 17px;
      line-height: 26px;
  }

}
/*--------------------------------------------------------------
# Learning Centre : Property Tax
--------------------------------------------------------------*/
.property {
  h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
  }
  p {
    font-size: 17px;
    line-height: 26px;
  }
  a {
    color: #00A9F4;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .first-container {
    p {
      font-size: 21px;
      line-height: 35px;
    }
  }
  .gray-container {
    background-color: #F9F9F9;
    p {
    font-size: 21px;
    line-height: 28px;
  }
}
  .blue-container {
    background-color: #F7FEFF;
  }
}

/*--------------------------------------------------------------
# Our Customers
--------------------------------------------------------------*/
.customers {
  .sneak-peek-container {
    p {
      font-size: 18px;
    }
  }
}
#myTab {
  border:none !important;
  .nav-link {
    border-bottom:none !important;
    border-left:none !important;
    border-right:none !important;
    border-top:3px solid orange;
    border-radius: 0px;
    border-top: 7px solid #f3f3f3;
    color: #d4d4d4;
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }
  .nav-link.active {
    border-top: 7px solid orange;
    color:orange;
  }
}
/*--------------------------------------------------------------
# Webinars
--------------------------------------------------------------*/

.webinars {
  p {
    line-height: 28px;
  }
}
#wpcf7-f122-o1 {
  input {
    	height: 57px;
      max-width: 473px;
      border: 1px solid #E4DFDF;
      border-radius: 3px;
      background-color: #FFFFFF;
      margin-left: auto;
  }
::placeholder {
    color: #C0C0C0;
  }
  input[type=submit] {
    float: right;
    padding: 0 1rem;
    border: 1px solid #00A9F4;
    border-radius: 5px;
    background-color: #00A9F4;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    height: 34px;
    width: 111px;
    margin-top: 23px;
    margin-bottom: 50px;
  }
  label {
    margin: 0;
  }
  p {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  .card {
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 3px 0 #D0D0D0;
    max-width: 375px;
    width: 100%;
    ul {
    list-style: none;
    padding: 0;
    }
    a {
    color: #00A9F4;
    font-size: 14px;
    letter-spacing: -0.34px;
    line-height: 19px;
    text-transform: uppercase;
    }
    .author-span {
    font-style: italic;
    }
    span {
      color: #6B6B6B;
      font-size: 16px;
      letter-spacing: -0.38px;
      line-height: 18px;
    }
    h5 {
      color: #303030;
      font-size: 25px;
      letter-spacing: -0.6px;
      line-height: 30px;
    }
    p {
      color: #303030;
      font-size: 16px;
      letter-spacing: -0.38px;
      line-height: 22px;
    }
  }
}
/*--------------------------------------------------------------
# White Papers
--------------------------------------------------------------*/

.white-papers {
  p {
    line-height: 28px;
  }
  #wpcf7-f130-o1 {
    input {
      height: 57px;
      max-width: 383.76px;
      border: 1px solid #E4DFDF;
      border-radius: 3px;
      background-color: #FFFFFF;
      width: 100%;
      float: right;
    }
    label br {
      display: none;
    }
    input[type=submit] {
      height: 33px;
      max-width: 110.85px;
      width:100%;
      border: 1px solid #0081BA;
      border-radius: 5px;
      background-color: #00A9F4;
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      float: right;
    }
     ::placeholder {
       	color: #C0C0C0;
        font-size: 18px;
        line-height: 24px;
     }
     input[type=text] {
       color: #C0C0C0;
     }
  }
}

/*--------------------------------------------------------------
# Capture
--------------------------------------------------------------*/
.capture {
  h3 {
    	font-size: 24px;
      font-weight: 600;
  }
  p {
    	font-size: 20px;
      line-height: 26px;
  }
  .capture-in-action {
    	color: #FFFFFF;
      font-size: 32px;
      line-height: 48px;
  }
  .blue-section {
    background-color:#F7FEFF;
  }
  .orange-section {
    background-color: #F99828;
  }
}

/*--------------------------------------------------------------
# Overview
--------------------------------------------------------------*/
.overview {
  .problem-solution p {
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 26px;
  }
  .features {
    background-color: #F9F9F9;
    h4 {
      font-size: 23px;
      font-weight: 600;
      line-height: 31px;
      margin-top:15px;
      margin-left: 20px;
    }
    p {
      font-size: 17px;
      line-height: 26px;
    }
  }
  .contact-us {
    background-color:#F99828;
    h3,p {
      color:#ffffff;
    }
  }
}

/*--------------------------------------------------------------
# Why Itamlink
--------------------------------------------------------------*/
.why-itamlink {
  p {
    line-height: 35px;
  }
  .orange-btn {
    height: 34px;
    width: 131px;
    border: 1px solid #AF6500;
    border-radius: 5px;
    background-color: #F99828;
    color:white;
  }
  .blue-container {
    background-color:#00A9F4;
  }
  .orange-container {
    background-color:#F99828;
  }
  .light-blue-container {
    background-color:#F7FEFF;
  }
}
/*--------------------------------------------------------------
# Integrations
--------------------------------------------------------------*/
.integrations {
  #wpcf7-f135-o1 {
    p {
      margin: 0;
    }
    label {
      margin: 0;
    }
    input {
      height: 57px;
      max-width: 581px;
      width: 100%;
      border: 1px solid #E4DFDF;
      border-radius: 3px;
      background-color: #FFFFFF;
      margin-bottom: 20px;
    }
     ::placeholder {
      	color: #C0C0C0;
        font-size: 18px;
        line-height: 24px;
    }
    br {
      display: none;
    }
    input[type=submit] {
      padding: 0 1rem;
      border: 1px solid #00A9F4;
      border-radius: 5px;
      background-color: #00A9F4;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      height: 34px;
      line-height: 32px !important;
      height: 34px;
      width: 131px;
      display: block;
      margin: 0 auto;
      margin-top:20px;
    }
  }
  h2 {
    	font-size: 24px;
      font-weight: 600;
      line-height: 31px;
  }
}
/*--------------------------------------------------------------
# Automation
--------------------------------------------------------------*/
.automation {
  h3 {
    font-size: 25px;
  }
  .main-container h3 {
    font-weight: 600;
  }
  .main-container p {
    font-size: 17px;
    line-height: 26px;
  }
}
/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
.faq {
  .card,.card-header {
    background: none;
    border:none;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
  }
  .card-header {
    padding: 0;
  }
}
/*--------------------------------------------------------------
# Implementation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Customer Experience
--------------------------------------------------------------*/
